<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taller_listview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OpRealizadasActivity"></activity>
        <activity android:name=".CuboActivity" />
        <activity android:name=".ConoActivity" />
        <activity android:name=".CilindroActivity" />
        <activity android:name=".EsferaActivity" />
        <activity android:name=".CirculoActivity" />
        <activity android:name=".TrianguloActivity" />
        <activity android:name=".RectanguloActivity" />
        <activity android:name=".CuadradoActivity" />
        <activity android:name=".VolumenesActivity" />
        <activity android:name=".AreasActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>